<!DOCTYPE html>

<title>Appointment index</title>

{% block body %}
    <h1>Appointment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>BeginAt</th>
                <th>EndAt</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.id }}</td>
                <td>{{ appointment.beginAt ? appointment.beginAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ appointment.endAt ? appointment.endAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ appointment.title }}</td>
                <td>
                    <a href="{{ path('app_appointment_show', {'id': appointment.id}) }}">show</a>
                    <a href="{{ path('app_appointment_edit', {'id': appointment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_appointment_new') }}">Create new</a>
{% endblock %}
