<!DOCTYPE html>

<title>Appointment</title>

{% block body %}
    <h1>Appointment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ appointment.id }}</td>
            </tr>
            <tr>
                <th>BeginAt</th>
                <td>{{ appointment.beginAt ? appointment.beginAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndAt</th>
                <td>{{ appointment.endAt ? appointment.endAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ appointment.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_appointment_index') }}" class="btn btn-info">back to list</a>

    <a href="{{ path('app_appointment_edit', {'id': appointment.id}) }}" class="btn btn-warning">edit</a>

    {{ include('Admin/appointment/_delete_form.html.twig') }}
{% endblock %}
