{% extends 'institutional/base.html.twig' %}
{% block title %} Home {% endblock %}

{% block body %}
	{% include "Institutional/parts/infobar.html.twig" %}
    
	{% include "Institutional/parts/navbar.html.twig" %}

	{% include "Institutional/parts/slider.html.twig" %}

	{% include "Institutional/parts/services.html.twig" %}

	<section class="ftco-section ftco-no-pt ftc-no-pb">
		<div class="container">
			<div class="row">
				<div class="col-md-5 order-md-last wrap-about py-5 wrap-about bg-light">
					<div class="text px-4 ftco-animate">
						<h2 class="mb-4">Quem Somos</h2>
						<p>O espaço estímulos é uma ambiente especializado em saúde de bebês, crianças e adolescentes. Fundado em 2011, presta serviço Fisioterapêutico pediátrico de educação em saúde, prevenção e intervenção em pacientes que apresentam riscos em seu desenvolvimento neuropsicomotor.Em nossa trajetória, o aprimoramento técnico e o aprofundamento científico têm sido uma marca da equipe, que trabalha de forma interdisciplinar através de estudos clínicos voltado para a necessidade do paciente. São realizados discussões com a escola, família e profissionais da saúde que acompanham a criança.</p>
                        <p>Além do conhecimento técnico de ponta, o espaço estímulos busca, através de uma atenção integral à família, promover a independência de bebês, crianças e jovens dentro da capacidade de cada idade.</p>
						<p>
							<a href="#" class="btn btn-secondary px-4 py-3">Veja Mais</a>
						</p>
					</div>
				</div>
				<div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
					<h2 class="mb-4">What We Offer</h2>
					<p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.</p>
					<div class="row mt-5">
						<div class="col-lg-6">
							<div class="services-2 d-flex">
								<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center">
									<span class="flaticon-security"></span>
								</div>
								<div class="text">
									<h3>Safety First</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="services-2 d-flex">
								<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center">
									<span class="flaticon-reading"></span>
								</div>
								<div class="text">
									<h3>Regular Classes</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="services-2 d-flex">
								<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center">
									<span class="flaticon-diploma"></span>
								</div>
								<div class="text">
									<h3>Certified Teachers</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="services-2 d-flex">
								<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center">
									<span class="flaticon-education"></span>
								</div>
								<div class="text">
									<h3>Sufficient Classrooms</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="services-2 d-flex">
								<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center">
									<span class="flaticon-jigsaw"></span>
								</div>
								<div class="text">
									<h3>Creative Lessons</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="services-2 d-flex">
								<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center">
									<span class="flaticon-kids"></span>
								</div>
								<div class="text">
									<h3>Sports Facilities</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-intro" style="background-image: url({{asset('institutional/images/estimulos-clinica-infantil-bauru-capa-2-1240x540.jpeg')}});" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<h2>Ensinando seu filho algumas boas maneiras</h2>
					<p class="mb-0">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
				</div>
				<div class="col-md-3 d-flex align-items-center">
					<p class="mb-0">
						<a href="#" class="btn btn-secondary px-4 py-3">Entre em contato</a>
					</p>
				</div>
			</div>
		</div>
	</section>


	<section class="ftco-section ftco-no-pb">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-2">
				<div class="col-md-8 text-center heading-section ftco-animate">
					<h2 class="mb-4">
						<span>Professores</span>
						Certificados</h2>
					<p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch" style="background-image: url({{asset('institutional/images/estimulos-clinica-infantil-bauru-13-850x638.jpeg')}});"></div>
						</div>
						<div class="text pt-3 text-center">
							<h3>Bianca Wilson</h3>
							<span class="position mb-2">Teacher</span>
							<div class="faded">
								<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
								<ul class="ftco-social text-center">
									<li class="ftco-animate">
										<a href="#">
											<span class="icon-twitter"></span>
										</a>
									</li>
									<li class="ftco-animate">
										<a href="#">
											<span class="icon-facebook"></span>
										</a>
									</li>
									<li class="ftco-animate">
										<a href="#">
											<span class="icon-google-plus"></span>
										</a>
									</li>
									<li class="ftco-animate">
										<a href="#">
											<span class="icon-instagram"></span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch" style="background-image: url({{asset('institutional/images/estimulos-clinica-infantil-bauru-6-850x638.jpeg')}});"></div>
						</div>
						<div class="text pt-3 text-center">
							<h3>Veronica Bulgarelli</h3>
							<span class="position mb-2">Psicopedagoga</span>
							<div class="faded">
								<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
								<ul class="ftco-social text-center">
									<li class="ftco-animate">
										<a href="#">
											<span class="icon-twitter"></span>
										</a>
									</li>
									<li class="ftco-animate">
										<a href="#">
											<span class="icon-facebook"></span>
										</a>
									</li>
									<li class="ftco-animate">
										<a href="#">
											<span class="icon-google-plus"></span>
										</a>
									</li>
									<li class="ftco-animate">
										<a href="#">
											<span class="icon-instagram"></span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch" style="background-image: url({{asset('institutional/images/teacher-3.jpg')}});"></div>
						</div>
						<div class="text pt-3 text-center">
							<h3>Stella Smith</h3>
							<span class="position mb-2">Art Teacher</span>
							<div class="faded">
								<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
								<ul class="ftco-social text-center">
									<li class="ftco-animate">
										<a href="#">
											<span class="icon-twitter"></span>
										</a>
									</li>
									<li class="ftco-animate">
										<a href="#">
											<span class="icon-facebook"></span>
										</a>
									</li>
									<li class="ftco-animate">
										<a href="#">
											<span class="icon-google-plus"></span>
										</a>
									</li>
									<li class="ftco-animate">
										<a href="#">
											<span class="icon-instagram"></span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch" style="background-image: url({{asset('institutional/images/teacher-4.jpg')}});"></div>
						</div>
						<div class="text pt-3 text-center">
							<h3>Monshe Henderson</h3>
							<span class="position mb-2">Science Teacher</span>
							<div class="faded">
								<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
								<ul class="ftco-social text-center">
									<li class="ftco-animate">
										<a href="#">
											<span class="icon-twitter"></span>
										</a>
									</li>
									<li class="ftco-animate">
										<a href="#">
											<span class="icon-facebook"></span>
										</a>
									</li>
									<li class="ftco-animate">
										<a href="#">
											<span class="icon-google-plus"></span>
										</a>
									</li>
									<li class="ftco-animate">
										<a href="#">
											<span class="icon-instagram"></span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-2">
				<div class="col-md-8 text-center heading-section ftco-animate">
					<h2 class="mb-4">
						<span>Nossos</span>
						Servicos</h2>
					<p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 course d-lg-flex ftco-animate">
					<div class="img" style="background-image: url({{asset('institutional/images/course-1.jpg')}});"></div>
					<div class="text bg-light p-4">
						<h3>
							<a href="#">Arts Lesson</a>
						</h3>
						<p class="subheading">
							<span>Class time:</span>
							9:00am - 10am</p>
						<p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
					</div>
				</div>
				<div class="col-md-6 course d-lg-flex ftco-animate">
					<div class="img" style="background-image: url({{asset('institutional/images/course-2.jpg')}});"></div>
					<div class="text bg-light p-4">
						<h3>
							<a href="#">Language Lesson</a>
						</h3>
						<p class="subheading">
							<span>Class time:</span>
							9:00am - 10am</p>
						<p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
					</div>
				</div>
				<div class="col-md-6 course d-lg-flex ftco-animate">
					<div class="img" style="background-image: url({{asset('institutional/images/course-3.jpg')}});"></div>
					<div class="text bg-light p-4">
						<h3>
							<a href="#">Music Lesson</a>
						</h3>
						<p class="subheading">
							<span>Class time:</span>
							9:00am - 10am</p>
						<p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
					</div>
				</div>
				<div class="col-md-6 course d-lg-flex ftco-animate">
					<div class="img" style="background-image: url({{asset('institutional/images/course-4.jpg')}});"></div>
					<div class="text bg-light p-4">
						<h3>
							<a href="#">Sports Lesson</a>
						</h3>
						<p class="subheading">
							<span>Class time:</span>
							9:00am - 10am</p>
						<p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section testimony-section bg-light">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-2">
				<div class="col-md-8 text-center heading-section ftco-animate">
					<h2 class="mb-4">
						<span>O que os pais</span>
						dizem sobre nós</h2>
						 
					<p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
				</div>
			</div>
			<div class="row ftco-animate justify-content-center">
				<div class="col-md-12">
					<div class="carousel-testimony owl-carousel">
						<div class="item">
							<div class="testimony-wrap d-flex">
								<div class="user-img mr-4" style="background-image: url({{asset('institutional/images/teacher-1.jpg')}});"></div>
								<div class="text ml-2 bg-light">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="icon-quote-left"></i>
									</span>
									<p>Meu filho tem transtorno do espectro autista e faz psicomotricidade no espaço estimulus desde junho de 2017.  Assim que iniciou a terapia observei- o  mais solto nas brincadeiras e verbalizando mais. A psicomotricidade trouxe vários estímulos importantes para o desenvolvimento dele.</p>
									<p class="name">Paciente Espaço Estimulos</p>
									<span class="position">Father</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap d-flex">
								<div class="user-img mr-4" style="background-image: url({{asset('institutional/images/teacher-2.jpg')}});"></div>
								<div class="text ml-2 bg-light">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="icon-quote-left"></i>
									</span>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									<p class="name">Henry Dee</p>
									<span class="position">Mother</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap d-flex">
								<div class="user-img mr-4" style="background-image: url({{asset('institutional/images/teacher-3.jpg')}});"></div>
								<div class="text ml-2 bg-light">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="icon-quote-left"></i>
									</span>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									<p class="name">Mark Huff</p>
									<span class="position">Mother</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap d-flex">
								<div class="user-img mr-4" style="background-image: url({{asset('institutional/images/teacher-4.jpg')}});"></div>
								<div class="text ml-2 bg-light">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="icon-quote-left"></i>
									</span>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									<p class="name">Rodel Golez</p>
									<span class="position">Mother</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap d-flex">
								<div class="user-img mr-4" style="background-image: url({{asset('institutional/images/teacher-1.jpg')}});"></div>
								<div class="text ml-2 bg-light">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="icon-quote-left"></i>
									</span>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									<p class="name">Ken Bosh</p>
									<span class="position">Mother</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% include "Institutional/parts/request.html.twig" %}

	{# BLOG MODULE #}

	{% include "Institutional/parts/footer.html.twig" %}


	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen">
		<svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg>
	</div>

{% endblock %}
