{% extends 'admin/base.html.twig' %}

{% block body %}
	<div id="calendar-holder"></div>

    
    {% if form is not empty %}
	<div class="modal" tabindex="-1" role="dialog" id="modalAppointment" data-backdrop="static">
		<div class="modal-dialog" role="document">
			{{ form_start(form) }}
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Agendar</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					{{ form_widget(form) }}
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary">{{ button_label|default('Salvar') }}</button>
				</div>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
    {% endif %}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
{% endblock %}

{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
	<script src="{{ asset('admin/js/pages/calendar.js') }}"></script>
{% endblock %}
